{% extends layout %}

{% block content %}

    <div class="uk-section-slider">
        <div class="uk-section uk-background-cover uk-background-norepeat uk-background-center  uk-background-secondary uk-overflow-hidden uk-light uk-flex uk-flex-middle parallax-store-header" uk-parallax="bgx: 0,-15" uk-height viewport="offset-top: true">
            <div class="uk-width-1-1">
                <div class="uk-container uk-container-large">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-width-1-1@m">
                            <div class="uk-grid-item-match">
                                <div>
                                    <h3 class="uk-margin-small uk-text-uppercase uk-text-white"><span uk-icon="icon: cart; ratio: 1.7"></span> Cart</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Store Cart #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-6@l"></div>
                <div class="uk-width-2-3@l">
                    <form action="" method="post" accept-charset="utf-8">
                        <div class="uk-margin uk-text-center">
                            <p class="uk-h3"><i class="fas fa-box"></i> <a rel="item=<?= $this->shop_model->getItem($idlink); ?>">Item Name</a></p>
                            <a rel="item=<?= $this->shop_model->getItem($idlink); ?>">
                                <img class="uk-border-rounded" src="//wow.zamimg.com/images/wow/icons/large/inv_knife_1h_draenorhonors2_c_01.jpg" />
                            </a>
                        </div>
                        <div class="uk-margin uk-text-center">
                            <p><i class="fas fa-list-ul"></i> Select Character:</p>
                            <div class="uk-inline">
                                <div class="uk-form-controls">
                                    <select class="uk-select uk-form-width-medium uk-form-small" name="charSelects">
                                        <option value="<?= $charsMultiRealm->id ?>|<?= $listchar->guid ?>">Server Name - Pepe</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin uk-text-center">
                            <p><i class="fas fa-money-bill-alt"></i> Price:</p>
                            <div class="uk-inline">
                                <h4>
                                    {#<img class="uk-border-circle" src="http://blizzcms.v2/assets/vp.jpg" title="Vote Points" width="30px" height="30px" uk-tooltip="pos: bottom">#}
                                    <img class="uk-border-circle" src="http://blizzcms.v2/assets/dp.jpg" title="Donor Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                                    <span class="uk-badge">10</span>
                                </h4>
                            </div>
                        </div>
                        <div class="uk-margin uk-text-center">
                            <button type="submit" name="buyNowGetItem" class="uk-button uk-button-primary uk-button-large" title="<?= $this->lang->line('button_buy'); ?>"><i class="fas fa-shopping-cart"></i> Buy</button>
                            <div class="uk-alert-warning" uk-alert>
                                <p><i class="fas fa-exclamation-triangle"></i> Insufficient points</p>
                            </div>
                            {#<button class="button" title=""><i class="fas fa-gift"></i> Gift</button>#}
                        </div>
                    </form>
                </div>
                <div class="uk-width-1-6@l"></div>
            </div>
        </div>
    </div>
{% endblock %}
