{% extends layout %}

{% block content %}

    <div class="uk-section-slider">
        <div class="uk-section uk-background-cover uk-background-norepeat uk-background-center  uk-background-secondary uk-overflow-hidden uk-light uk-flex uk-flex-middle parallax-store-header" uk-parallax="bgx: 0,-15" uk-height viewport="offset-top: true">
            <div class="uk-width-1-1">
                <div class="uk-container uk-container-large">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-width-1-1@m">
                            <div class="uk-grid-item-match">
                                <div>
                                    <h3 class="uk-margin-small uk-text-uppercase uk-text-white"><span uk-icon="icon: cart; ratio: 1.7"></span> Welcome to the Store</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Store Table #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-5@l"></div>
                <div class="uk-width-3-5@l">
                </div>
                <div class="uk-width-1-5@l"></div>
            </div>
            <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                <table class="uk-table uk-table-divider uk-table-middle uk-light">
                    <thead>
                        <tr>
                            <th class="uk-width-small uk-text-white"><i class="fas fa-book"></i> Icon</th>
                            <th class="uk-width-medium uk-text-center uk-text-white"><i class="fas fa-info-circle"></i> Item Name</th>
                            <th class="uk-width-medium uk-text-center uk-text-white"><i class="fas fa-cart-plus"></i> Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a rel="item=<?= $itemsG->itemid ?>">
                                    <img width="50" height="50" class="uk-border-rounded" src="//wow.zamimg.com/images/wow/icons/large/inv_knife_1h_draenorhonors2_c_01.jpg" />
                                </a>
                            </td>
                            <td class="uk-text-center">
                                <a rel="item=<?= $itemsG->itemid ?>" class="uk-button uk-button-text">Item Name</a>
                            </td>
                            <td class="uk-text-center uk-text-white">
                                <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=vp" class="uk-button uk-button-link">
                                    <img class="uk-border-circle" src="http://blizzcms.v2/assets/vp.jpg" title="Vote Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                                </a>
                                <span class="uk-badge">10</span>
                                <span class="uk-margin-small-left"></span>
                                <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=dp" class="uk-button uk-button-link">
                                    <img class="uk-border-circle" src="http://blizzcms.v2/assets/dp.jpg" title="Donor Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                                </a>
                                <span class="uk-badge">10</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
