{% extends layout %}

{% block content %}

    <div class="uk-section-slider">
        <div class="uk-section uk-background-cover uk-background-norepeat uk-background-center  uk-background-secondary uk-overflow-hidden uk-light uk-flex uk-flex-middle parallax-store-header" uk-parallax="bgx: 0,-15" uk-height viewport="offset-top: true">
            <div class="uk-width-1-1">
                <div class="uk-container uk-container-large">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-width-1-1@m">
                            <div class="uk-grid-item-match">
                                <div>
                                    <h3 class="uk-margin-small uk-text-uppercase uk-text-white"><span uk-icon="icon: cart; ratio: 1.7"></span> Welcome to the Store</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Store Card #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-5@l"></div>
                <div class="uk-width-3-5@l">
                </div>
                <div class="uk-width-1-5@l"></div>
            </div>
            <div class="uk-grid-small uk-grid-match uk-child-width-1-5@s uk-flex-center uk-text-center" uk-grid>
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="http://blizzcms.v2/assets/store/WarmongeringGladiatorFelbloodGronnling.jpg" class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" width="200" height="200" alt="">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <p class="uk-text-break"><a rel="item=<?= $itemsG->itemid ?>" class="uk-button uk-button-text">Item Name</a></p>
                        <p>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=vp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/vp.jpg" title="Vote Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                            <span class="uk-margin-small-left"></span>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=dp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/dp.jpg" title="Donor Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                        </p>
                    </div>
                </div>
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="http://blizzcms.v2/assets/store/WarmongeringGladiatorFelbloodGronnling.jpg" class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" width="200" height="200" alt="">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <p class="uk-text-break"><a rel="item=<?= $itemsG->itemid ?>" class="uk-button uk-button-text">Item Name</a></p>
                        <p>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=vp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/vp.jpg" title="Vote Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                            <span class="uk-margin-small-left"></span>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=dp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/dp.jpg" title="Donor Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                        </p>
                    </div>
                </div>
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="http://blizzcms.v2/assets/store/WarmongeringGladiatorFelbloodGronnling.jpg" class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" width="200" height="200" alt="">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <p class="uk-text-break"><a rel="item=<?= $itemsG->itemid ?>" class="uk-button uk-button-text">Item Name</a></p>
                        <p>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=vp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/vp.jpg" title="Vote Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                            <span class="uk-margin-small-left"></span>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=dp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/dp.jpg" title="Donor Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                        </p>
                    </div>
                </div>
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="http://blizzcms.v2/assets/store/WarmongeringGladiatorFelbloodGronnling.jpg" class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" width="200" height="200" alt="">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <p class="uk-text-break"><a rel="item=<?= $itemsG->itemid ?>" class="uk-button uk-button-text">Item Name</a></p>
                        <p>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=vp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/vp.jpg" title="Vote Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                            <span class="uk-margin-small-left"></span>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=dp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/dp.jpg" title="Donor Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                        </p>
                    </div>
                </div>
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="http://blizzcms.v2/assets/store/WarmongeringGladiatorFelbloodGronnling.jpg" class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" width="200" height="200" alt="">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <p class="uk-text-break"><a rel="item=<?= $itemsG->itemid ?>" class="uk-button uk-button-text">Item Name</a></p>
                        <p>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=vp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/vp.jpg" title="Vote Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                            <span class="uk-margin-small-left"></span>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=dp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/dp.jpg" title="Donor Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                        </p>
                    </div>
                </div>
                <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                    <img src="http://blizzcms.v2/assets/store/WarmongeringGladiatorFelbloodGronnling.jpg" class="uk-border-rounded uk-transition-scale-up uk-transition-opaque" width="200" height="200" alt="">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <p class="uk-text-break"><a rel="item=<?= $itemsG->itemid ?>" class="uk-button uk-button-text">Item Name</a></p>
                        <p>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=vp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/vp.jpg" title="Vote Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                            <span class="uk-margin-small-left"></span>
                            <a href="<?= base_url(); ?>cart/<?= $itemsG->id; ?>?tp=dp" class="uk-button uk-button-link">
                                <img class="uk-border-circle" src="http://blizzcms.v2/assets/dp.jpg" title="Donor Points" width="30px" height="30px" uk-tooltip="pos: bottom">
                            </a>
                            <span class="uk-badge">10</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
