{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Armory #}
            <div class="uk-grid uk-grid-medium" data-uk-grid>
                <div class="uk-width-1-2@m">
                    <div class="uk-grid uk-grid-large" data-uk-grid>
                        <div class="uk-width-1-5@l">
                            <!-- -->
                            <a href="{ref_ChatInvHead}" id="{invHead}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvHead}" />
                            </a>
                            <div id="{invHeadTemplate}" {style_none}>{view_ChatInvHead}</div>
                            {call_ChatInvHead}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvNeck}" id="{invNeck}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvNeck}" />
                            </a>
                            <div id="{invNeckTemplate}" {style_none}>{view_ChatInvNeck}</div>
                            {call_ChatInvNeck}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvShoulders}" id="{invShoulders}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvShoulders}" />
                            </a>
                            <div id="{invShouldersTemplate}" {style_none}>{view_ChatInvShoulders}</div>
                            {call_ChatInvShoulders}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvBack}" id="{invBack}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvBack}" />
                            </a>
                            <div id="{invBackTemplate}" {style_none}>{view_ChatInvBack}</div>
                            {call_ChatInvBack}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvChest}" id="{invChest}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvChest}" />
                            </a>
                            <div id="{invChestTemplate}" {style_none}>{view_ChatInvChest}</div>
                            {call_ChatInvChest}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvBody}" id="{invBody}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvBody}" />
                            </a>
                            <div id="{invBodyTemplate}" {style_none}>{view_ChatInvBody}</div>
                            {call_ChatInvBody}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvTabard}" id="{invTabard}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvTabard}" />
                            </a>
                            <div id="{invTabardTemplate}" {style_none}>{view_ChatInvTabard}</div>
                            {call_ChatInvTabard}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvWrists}" id="{invWrists}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvWrists}" />
                            </a>
                            <div id="{invWristsTemplate}" {style_none}>{view_ChatInvWrists}</div>
                            {call_ChatInvWrists}
                            <!-- -->
                            <div class="fx-gap"></div>
                        </div>
                        <div class="uk-width-3-5@l">
                            <div class="fx-gap-4"></div>
                            <div class="fx-gap-4"></div>
                            <div class="fx-gap-4"></div>
                            <div class="fx-gap-4"></div>
                            <div class="fx-gap-4"></div>
                            <div class="fx-gap-4"></div>
                            <div class="fx-gap-2"></div>
                            <div class="fx-gap-4"></div>
                            <span style="display:inline-block; width: 35px;"></span>
                            <!-- -->
                            <a href="{ref_ChatInvMainHand}" id="{invMainHand}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvMainHand}" />
                            </a>
                            <div id="{invMainHandTemplate}" {style_none}>{view_ChatInvMainHand}</div>
                            {call_ChatInvMainHand}
                            <!-- -->
                            <a href="{ref_ChatInvOffHand}" id="{invOffHand}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvOffHand}" />
                            </a>
                            <div id="{invOffHandTemplate}" {style_none}>{view_ChatInvOffHand}</div>
                            {call_ChatInvOffHand}
                            <!-- -->
                            <a href="{ref_ChatInvRanged}" id="{invRanged}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvRanged}" />
                            </a>
                            <div id="{invRangedTemplate}" {style_none}>{view_ChatInvRanged}</div>
                            {call_ChatInvRanged}
                            <!-- -->
                        </div>
                        <div class="uk-width-1-5@l">
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvHands}" id="{invHands}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvHands}" />
                            </a>
                            <div id="{invHandsTemplate}" {style_none}>{view_ChatInvHands}</div>
                            {call_ChatInvHands}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvWaist}" id="{invWaist}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvWaist}" />
                            </a>
                            <div id="{invWaistTemplate}" {style_none}>{view_ChatInvWaist}</div>
                            {call_ChatInvWaist}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvLegs}" id="{invLegs}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvLegs}" />
                            </a>
                            <div id="{invLegsTemplate}" {style_none}>{view_ChatInvLegs}</div>
                            {call_ChatInvLegs}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvFeet}" id="{invFeet}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvFeet}" />
                            </a>
                            <div id="{invFeetTemplate}" {style_none}>{view_ChatInvFeet}</div>
                            {call_ChatInvFeet}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvFingerOne}" id="{invFingerOne}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvFingerOne}" />
                            </a>
                            <div id="{invFingerOneTemplate}" {style_none}>{view_ChatInvFingerOne}</div>
                            {call_ChatInvFingerOne}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvFingerTwo}" id="{invFingerTwo}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvFingerTwo}" />
                            </a>
                            <div id="{invFingerTwoTemplate}" {style_none}>{view_ChatInvFingerTwo}</div>
                            {call_ChatInvFingerTwo}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvTrinketOne}" id="{invTrinketOne}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvTrinketOne}" />
                            </a>
                            <div id="{invTrinketOneTemplate}" {style_none}>{view_ChatInvTrinketOne}</div>
                            {call_ChatInvTrinketOne}
                            <!-- -->
                            <div class="fx-gap"></div>
                            <a href="{ref_ChatInvTrinketTwo}" id="{invTrinketTwo}" {getRef}>
                                <img {width} {height} {img_class} src="{image_ChatInvTrinketTwo}" />
                            </a>
                            <div id="{invTrinketTwoTemplate}" {style_none}>{view_ChatInvTrinketTwo}</div>
                            {call_ChatInvTrinketTwo}
                            <!-- -->
                            <div class="fx-gap"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <h3 class="uk-heading-line uk-text-center uk-text-white"><span>{playervsplayer}</span></h3>
                    <div class="uk-column-1-2">
                        <p>
                            <img src="http://wow.zamimg.com/images/wow/icons/large/achievement_bg_3flagcap_nodeaths.jpg" width="35" class="nk-btn-rounded" alt="" style="margin-right: 10px;">
                                <span class="uk-text-white"><span>{totalkills_lang}</span> {totalkills} </span>
                        </p>
                        <p>
                            <img src="http://wow.zamimg.com/images/wow/icons/large/achievement_bg_3flagcap_nodeaths.jpg" width="35" class="nk-btn-rounded" alt="" style="margin-right: 10px;">
                            <span class="uk-text-white"><span>{todaykills_lang}</span> {todaykills} </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
