{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Cookie #}
            <div class="uk-grid uk-grid-small" data-uk-grid>
                <div class="uk-width-1-6@s"></div>
                <div class="uk-width-1-6@s uk-docs-nav">
                    <ul class="uk-nav uk-nav-default uk-text-center">
                        <li><a href="#introduction" uk-scroll>Introduction</a></li>
                        <li><a href="#use" uk-scroll>Use of Cookies</a></li>
                        <li><a href="#types" uk-scroll>Types of Cookies</a></li>
                        <li><a href="#control" uk-scroll>Control of Cookies</a></li>
                        <li><a href="#privacy" uk-scroll>Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="uk-width-1-2@s">
                    <h3 id="up" class="uk-h3 uk-text-uppercase uk-text-center"><i class="fas fa-file-alt"></i> Cookie Policy</h3>
                    <hr>
                    <p>
                        <span id="introduction" class="uk-text-bold uk-text-uppercase"><a>Introduction</a></span><a class="uk-align-right" href="#up" uk-icon="icon: arrow-up; ratio: 1.5" uk-scroll></a><br><br>

                        [Server Name] (“we” or “us” or “our”) may use cookies and other tracking technologies when you visit our website [URL], including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “Site”) to help customize the Site and improve your experience.<br><br>

                        We reserve the right to make changes to this Cookie Policy at any time and for any reason. We will alert you about any changes by updating the “Last Updated” date of this Cookie Policy. Any changes or modifications will be effective immediately upon posting the updated Cookie Policy on the Site, and you waive the right to receive specific notice of each such change or modification.<br><br>

                        You are encouraged to periodically review this Cookie Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Cookie Policy by your continued use of the Site after the date such revised Cookie Policy is posted.<br><br>

                        <span id="use" class="uk-text-bold uk-text-uppercase"><a>Use of Cookies</a></span><a class="uk-align-right" href="#up" uk-icon="icon: arrow-up; ratio: 1.5" uk-scroll></a><br><br>

                        A “cookie” is a string of information which assigns you a unique identifier that we store on your computer.Your browser then provides that unique identifier to use each time you submit a query to the Site. We use cookies on the Site to, among other things, keep track of services you have used, record registration information, record your user preferences, keep you logged into the Site, facilitate purchase procedures, and track the pages you visit. Cookies help us understand how the Site is being used and improve your user experience.<br><br>

                        <span id="types" class="uk-text-bold uk-text-uppercase"><a>Types of Cookies</a></span><a class="uk-align-right" href="#up" uk-icon="icon: arrow-up; ratio: 1.5" uk-scroll></a><br><br>

                        The following types of cookies may be used when you visit the Site:<br><br>

                        <span class="uk-text-bold uk-text-capitalize">Analytics Cookies</span><br><br>

                        Analytics cookies monitor how users reached the Site, and how they interact with and move around once on the Site. These cookies let us know what features on the Site are working the best and what features on the Site can be improved.<br><br>

                        <span class="uk-text-bold uk-text-capitalize">Our Cookies</span><br><br>

                        Our cookies are “first-party cookies”, and can be either permanent or temporary. These are necessary cookies, without which the Site won't work properly or be able to provide certain features and functionalities. Some of these may be manually disabled in your browser, but may affect the functionality of the Site.<br><br>

                        <span class="uk-text-bold uk-text-capitalize">Personalization Cookies</span><br><br>

                        Personalization cookies are used to recognize repeat visitors to the Site. We use these cookies to record your browsing history, the pages you have visited, and your settings and preferences each time you visit the Site.<br><br>

                        <span class="uk-text-bold uk-text-capitalize">Security Cookies</span><br><br>

                        Security cookies help identify and prevent security risks. We use these cookies to authenticate users and protect user data from unauthorized parties.<br><br>

                        <span class="uk-text-bold uk-text-capitalize">Site Management Cookies</span><br><br>

                        Site management cookies are used to maintain your identity or session on the Site so that you are not logged off unexpectedly, and any information you enter is retained from page to page. These cookies cannot be turned off individually, but you can disable all cookies in your browser.<br><br>

                        <span class="uk-text-bold uk-text-capitalize">Third-Party Cookies</span><br><br>

                        Third-party cookies may be place on your computer when you visit the Site by companies that run certain services we offer. These cookies allow the third parties to gather and track certain information about you. These cookies can be manually disabled in your browser.<br><br>

                        <span id="control" class="uk-text-bold uk-text-uppercase"><a>Control of Cookies</a></span><a class="uk-align-right" href="#up" uk-icon="icon: arrow-up; ratio: 1.5" uk-scroll></a><br><br>

                        Most browsers are set to accept cookies by default. However, you can remove or reject cookies in your browser’s settings. Please be aware that such action could affect the availability and functionality of the Site.<br><br>

                        For more information on how to control cookies, check your browser or device’s settings for how you can control or reject cookies, or visit the following links:<br>

                        <ul class="uk-list uk-list-bullet uk-light">
                            <li><a href="https://support.apple.com/kb/ph19214?locale=en_US" class="uk-button uk-button-text">Apple Safari</a></li>
                            <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en" class="uk-button uk-button-text">Google Chrome</a></li>
                            <li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy" class="uk-button uk-button-text">Microsoft Edge</a></li>
                            <li><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies" class="uk-button uk-button-text">Microsoft Internet Explorer</a></li>
                            <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" class="uk-button uk-button-text">Mozilla Firefox</a></li>
                            <li><a href="http://www.opera.com/help/tutorials/security/cookies/" class="uk-button uk-button-text">Opera</a></li>
                        </ul>

                        <span id="privacy" class="uk-text-bold uk-text-uppercase"><a>Privacy Policy</a></span><a class="uk-align-right" href="#up" uk-icon="icon: arrow-up; ratio: 1.5" uk-scroll></a><br><br>

                        For more information about how we use information collected by cookies and other tracking technologies, please refer to our Privacy Policy posted on the Site. This Cookie Policy is part of and is incorporated into our Privacy Policy. By using the Site, you agree to be bound by this Cookie Policy and our Privacy Policy.<br><br>

                    </p>
                </div>
                <div class="uk-width-1-6@s"></div>
            </div>
        </div>
    </div>
{% endblock %}
