{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Error #}
            <div class="uk-flex uk-flex-center uk-margin-large-top uk-margin-large-bottom uk-text-center">
                <div>
                    <h1 class="uk-h1 uk-docs-text uk-visible@m">404</h1>
                    <h1 class="uk-h1 uk-hidden@m">404</h1>
                    <p class="uk-text-large uk-text-uppercase">
                        Page not found<br>
                        <a href="{{ base_url() }}" class="uk-button uk-button-primary"><i class="fas fa-chevron-left"></i> Back to main page</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
