{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Faq #}
            <div class="uk-grid uk-grid-small" data-uk-grid>
                <div class="uk-width-1-6@s"></div>
                <div class="uk-width-2-3@s">
                    <h3 class="uk-h3 uk-text-uppercase"><i class="far fa-question-circle"></i> Faq</h3>
                    <div class="uk-space-medium"></div>
                    <div class="uk-text-center" uk-switcher="animation: uk-animation-fade">
                        <button class="uk-button uk-button-primary" type="button">Item</button>
                        <button class="uk-button uk-button-primary" type="button">Item</button>
                        <button class="uk-button uk-button-primary" type="button">Item</button>
                    </div>
                    <ul class="uk-switcher uk-margin">
                        <li>
                            <ul uk-accordion="multiple: true">
                                <li>
                                    <a class="uk-accordion-title uk-text-white" href="#"><i class="fas fa-info-circle"></i> Title 1</a>
                                    <div class="uk-accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title uk-text-white" href="#"><i class="fas fa-info-circle"></i> Title 2</a>
                                    <div class="uk-accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul uk-accordion="multiple: true">
                                <li>
                                    <a class="uk-accordion-title uk-text-white" href="#"><i class="fas fa-info-circle"></i> Title 1</a>
                                    <div class="uk-accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title uk-text-white" href="#"><i class="fas fa-info-circle"></i> Title 2</a>
                                    <div class="uk-accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul uk-accordion="multiple: true">
                                <li>
                                    <a class="uk-accordion-title uk-text-white" href="#"><i class="fas fa-info-circle"></i> Title 1</a>
                                    <div class="uk-accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title uk-text-white" href="#"><i class="fas fa-info-circle"></i> Title 2</a>
                                    <div class="uk-accordion-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-1-6@s"></div>
            </div>
        </div>
    </div>
{% endblock %}
