{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Maintenance #}
            <div class="uk-flex uk-flex-center uk-margin-large-top uk-margin-large-bottom uk-text-center">
                <div>
                    <h1 class="uk-h1 uk-docs-text uk-visible@m">Maintenance</h1>
                    <h1 class="uk-h1 uk-hidden@m">Maintenance</h1>
                    <p class="uk-text-large uk-text-uppercase">The website is temporarily in maintenance please come back later</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
