{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Bugtracker #}
            <div class="uk-principal-title uk-text-white"><i class="fas fa-bug"></i> Bugtracker</div>
            <span class="uk-align-right">
                <a href="#" class="uk-button uk-button-primary" uk-toggle="target: #createReport"><i class="fas fa-pencil-alt"></i> Create Report</a>
            </span>
            <p class="uk-text-uppercase uk-text-bold uk-text-white">Report List</p>
            <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                <table class="uk-table uk-table-divider uk-table-middle">
                    <thead>
                        <tr>
                            <th class="uk-text-white"><i class="fas fa-book"></i> ID</th>
                            <th class="uk-text-center uk-text-white"><i class="fas fa-bookmark"></i> Title</th>
                            <th class="uk-text-center uk-text-white"><i class="fas fa-list"></i> Type</th>
                            <th class="uk-text-center uk-text-white"><i class="fas fa-info-circle"></i> Status</th>
                            <th class="uk-text-center uk-text-white"><i class="fas fa-exclamation-circle"></i> Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="'.base_url('bugtracker/post/').$row->id.'">
                                    <span class="uk-light">1</span>
                                </a>
                            </td>
                            <td class="uk-text-center">
                                <a href="'.base_url('bugtracker/post/').$row->id.'">
                                    <span class="uk-light">Test</span>
                                </a>
                            </td>
                            <td class="uk-text-center">
                                <a href="'.base_url('bugtracker/post/').$row->id.'">
                                    <span class="uk-label">Creatures</span>
                                </a>
                            </td>
                            <td class="uk-text-center">
                                <a href="'.base_url('bugtracker/post/').$row->id.'">
                                    <span class="uk-label uk-label-success">Open</span>
                                </a>
                            </td>
                            <td class="uk-text-center">
                                <a href="'.base_url('bugtracker/post/').$row->id.'">
                                    <span class="uk-label uk-label-danger">High</span>
                                </a>
                            </td>
                        <tr>
                    </tbody>
                </table>
            </div>
            <ul class="uk-pagination uk-flex-center" uk-margin>
                <li><a href="#"><span uk-pagination-previous></span></a></li>
                <li><a href="#">1</a></li>
                <li class="uk-disabled"><span>...</span></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li class="uk-active"><span>7</span></li>
                <li><a href="#">8</a></li>
                <li><a href="#"><span uk-pagination-next></span></a></li>
            </ul>
        </div>
    </div>

    {# Modal #}
    <div id="createReport" class="uk-modal-container" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-bug"></i> Create Bug Report</h2>
            </div>
            <form action="" method="post" accept-charset="utf-8" autocomplete="off">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Title</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                <input class="uk-input" name="bug_title" type="text" placeholder="Title" required>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Type</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" name="reg_country">
                                <option value="">Achievement</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Description</label>
                        <div class="uk-form-controls">
                            <div class="uk-width-1-1">
                                <textarea class="tinyeditor" name="bug_description" rows="10" cols="80"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: link"></span>
                                <input class="uk-input" name="bug_url" type="url" placeholder="URL">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_createIssue">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
