{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Bugtracker Report #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-6@l"></div>
                <div class="uk-width-2-3@l">
                    <div style="color: rgba(255,255,255,.7);">
                        <h2 class="uk-text-white"><i class="fas fa-bug"></i> Report Name</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="uk-margin">
                            <div class="uk-placeholder uk-text-center">URL</div>
                        </div>
                        <div class="uk-column-1-3 uk-column-divider">
                            <p><i class="fas fa-list"></i> Type: <span class="uk-label">Achievement</span></p>
                            <p><i class="fas fa-exclamation-circle"></i> Priority: <span class="uk-label uk-label-danger">High</span></p>
                            <p><i class="far fa-clock"></i> Date: <span class="uk-badge">08-04-18</span></p>
                        </div>
                        <div class="uk-column-1-3 uk-column-divider">
                            <p><i class="fas fa-tags"></i> Status: <span class="uk-label uk-label-success">New Report</span></p>
                            <p><i class="fas fa-info-circle"></i> Info:
                                <span class="uk-label uk-label-success">Open</span>
                                {#<span class="uk-label uk-label-danger">Close</span>#}
                            </p>
                            <p><i class="far fa-user-circle"></i> Author: Pepe</p>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="uk-column-1-3 uk-column-divider">
                            <div>
                                <div class="uk-margin">
                                    <form method="post" action="">
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-form-width-medium" id="form-stacked-select" name="prioryValue">
                                                <option value="<?= $priory->id ?>">Critical</option>
                                            </select>
                                        </div>
                                        <br>
                                        <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="changePriory"><i class="fas fa-clipboard-list"></i> Change</button>
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="uk-margin">
                                    <form method="post" action="">
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-form-width-medium" id="form-stacked-select" name="StatusValue">
                                                <option value="<?= $priory->id ?>">Open</option>
                                            </select>
                                        </div>
                                        <br>
                                        <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="changeStatus"><i class="fas fa-clipboard-list"></i> Change</button>
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="uk-margin">
                                    <form method="post" action="">
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-form-width-medium" id="form-stacked-select" name="typesValue">
                                                <option value="<?= $priory->id ?>">Spell</option>
                                            </select>
                                        </div>
                                        <br>
                                        <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="changetypes"><i class="fas fa-clipboard-list"></i> Change</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                        <form method="post" action="">
                            <button type="submit" name="btn_closeBugtracker" class="uk-button uk-button-primary uk-width-1-1"><i class="far fa-clipboard"></i> Close Report</button>
                        </form>
                    </div>
                </div>
                <div class="uk-width-1-6@l"></div>
            </div>
        </div>
    </div>
{% endblock %}
