{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Login #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-5@l"></div>
                <div class="uk-width-3-5@l">
                    <h2 class="uk-text-primary uk-text-center"><i class="fas fa-sign-in-alt"></i> Log In</h2>
                    <p class="uk-text-center uk-text-white">Enjoy all the options we have for you</p>

                    <div class="uk-margin" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-inline; delay: 300; repeat: true">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                <input class="uk-input" name="login_email" type="text" placeholder="Email" required>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-inline; delay: 300; repeat: true">
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input class="uk-input" name="login_password" type="password" placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                    <button class="uk-button uk-button-primary uk-width-1-1" type="submit" name="button_log" id="button_log"><i class="fas fa-sign-in-alt"></i> Log In</button>
                    <hr>
                    <a href="<?= base_url('register'); ?>" class="uk-button uk-button-secondary uk-width-1-1"><i class="fas fa-user-plus"></i> Create a Free Account</a>
                </div>
                <div class="uk-width-1-5@l"></div>
            </div>
        </div>
    </div>
{% endblock %}
