{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Profile #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-6@l"></div>
                <div class="uk-width-2-3@l">
                    <div class="uk-text-center">
                        <div uk-lightbox>
                            <a href="<?= base_url('assets/images/profiles/').$this->m_data->getNameAvatar($this->m_data->getImageProfile($idlink)); ?>">
                                <img class="uk-border-circle" src="http://eu.battle.net/forums/static/images/social-thumbs/wow.png" width="120" height="120" alt="" />
                            </a>
                        </div>
                        {#<div uk-lightbox>
                            <a href="<?= base_url('assets/images/profiles/default.png'); ?>">
                                <img class="uk-border-circle" src="http://eu.battle.net/forums/static/images/social-thumbs/wow.png" width="120" height="120" alt="" />
                            </a>
                        </div>#}
                        <div class="uk-space-small"></div>
                        <div class="uk-principal-title uk-text-white">Username</div>
                        <div class="uk-space-medium"></div>
                    </div>
                    <div class="uk-scrollspy-inview uk-animation-slide-bottom" uk-scrollspy-class="">
                        <hr class="uk-divider-icon">
                        <ul uk-accordion>
                            <li class="uk-open">
                                <h3 class="uk-accordion-title uk-text-white"><i class="fas fa-server"></i> Server Name</h3>
                                <div class="uk-accordion-content">
                                    <div class="uk-grid uk-grid-small uk-child-width-1-6 uk-flex-center" uk-grid>
                                        <div class="uk-text-center">
                                            <a href="<?= base_url('armory/player/'); ?><?= $chars->guid ?>/<?= $charsMultiRealm->realmID ?>">
                                                <img class="uk-border-circle" src="http://eu.battle.net/forums/static/images/social-thumbs/wow.png" title="Name (Lvl 120)" width="50" height="50" uk-tooltip>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uk-width-1-6@l"></div>
            </div>
        </div>
    </div>
{% endblock %}
