<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ base_url('assets/images/favicon.ico') }}">
    {# RPG Awesine #}
    <link rel="stylesheet" href="{{ base_url('node_modules/rpg-awesome/css/rpg-awesome.min.css') }}" />
    {# Uikit #}
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/uikit/css/uikit.min.css') }}" />
    <script src="{{ base_url('vendor/blizzcms/uikit/js/uikit.min.js') }}"></script>
    <script src="{{ base_url('vendor/blizzcms/uikit/js/uikit-icons.min.js') }}"></script>
    {# BlizzCMS #}
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/fxgeneral/css/admin.css') }}" />
    {# Jquery #}
    <script src="{{ base_url('node_modules/jquery/dist/jquery.min.js') }}"></script>
    {# VueJS #}
    <script src="{{ base_url('node_modules/vue/dist/vue.js') }}"></script>
    <script src="{{ base_url('node_modules/vue-resource/dist/vue-resource.min.js') }}"></script>
    <script src="{{ base_url('node_modules/vue-moment/vue-moment.js') }}"></script>
    {# AmaranJs #}
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/amarantjs/css/amaran.min.css') }}" />
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/amarantjs/css/animate.min.css') }}" />
    {# Awesome #}
    <script defer src="{{ base_url('vendor/blizzcms/font-awesome/js/fontawesome-all.js') }}"></script>
    {# Pace #}
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/pace/css/pace-theme-minimal.tmpl.css') }}" />
</head>
<body>

    <header class="uk-admin-head uk-position-fixed">
        <nav class="uk-navbar-container uk-container-expand uk-background-primary">
            <div class="uk-navbar" uk-navbar="mode: click">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-margin-small-left uk-logo" href="{{ base_url() }}">BlizzCMS</a>
                </div>
                <div class="uk-navbar-right uk-light">
                    <div class="uk-navbar-item uk-visible@m">
                        <a href="javascript:void(0)" class="uk-margin-right uk-link-reset">
                            <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" data-uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle uk-admin-profile-img" src="https://secure.gravatar.com/avatar/00f9e08c69eb93807b6ede55ab9608c0?s=800&d=identicon" alt="">
                                </div>
                                <div class="uk-width-auto">
                                    <span class="uk-text-small uk-text-muted">Welcome</span>
                                    <h5 class="uk-margin-remove-vertical uk-text-capitalize">User Name</h5>
                                </div>
                            </div>
                        </a>
                        <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 500">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="{{ base_url() }}"><span uk-icon="icon: home"></span> Main Page</a></li>
                                <li><a href="{{ base_url() }}"><span uk-icon="icon: settings"></span> User Panel</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="{{ base_url() }}"><span uk-icon="icon: sign-out"></span> Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                    {# Admin Mobile Menu #}
                    <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#admin" uk-toggle></a>
                    <div class="uk-offcanvas-content">
                        <div id="admin" uk-offcanvas="flip: true">
                            <div class="uk-offcanvas-bar">
                                <div class="uk-panel">
                                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                                        <li class="uk-nav-header uk-text-center"><span uk-icon="icon: nut"></span> Admin Panel</li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#" id="fx_mobile_logout"><span uk-icon="icon: home"></span> Main Page</a></li>
                                        <li><a href="#" id="fx_mobile_logout"><span uk-icon="icon: settings"></span> User Panel</a></li>
                                        <li><a href="#" id="fx_mobile_logout"><span uk-icon="icon: sign-out"></span> Sign Out</a></li>
                                        <li class="uk-nav-header uk-text-center"><span uk-icon="icon: more"></span>Sections<span uk-icon="icon: more"></span></li>
                                        <li class="uk-nav-divider"></li>
                                        <li class="uk-parent">
                                            <a href="<?= $menulist->url ?>" class="uk-text-white">
                                                <i class="<?= $menulist->icon ?>"></i>&nbsp;Menu Name
                                            </a>
                                            <ul class="uk-nav-sub">
                                                <li>
                                                    <a href="<?= $menusonlist->url ?>">
                                                        <i class="<?= $menusonlist->icon ?>"></i>&nbsp;Menu Name
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="<?= $menulist->url ?>" class="uk-text-white">
                                                <i class="<?= $menulist->icon ?>"></i>&nbsp;Menu Name
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="uk-admin-left uk-light uk-visible@m">
        <div class="uk-admin-nav-content uk-position-relative">
            <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
                <li class="uk-nav-header"><span uk-icon="icon: desktop"></span> Overview</li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Dashboard</a></li>
                <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: code"></span> Version</a></li>
                <li class="uk-nav-header"><span uk-icon="icon: grid"></span> Main Sections</li>
                <li class="uk-nav-divider"></li>
                <li class="uk-parent">
                    <a href="javascript:void(0)"><span class="uk-margin-small-right" uk-icon="icon: users"></span> Users</a>
                    <ul class="uk-nav-sub">
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span>Accounts</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: user"></span>Characters</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="javascript:void(0)"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Website</a>
                    <ul class="uk-nav-sub">
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: settings"></span>Settings</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: server"></span>Realms</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: image"></span>Slides</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: credit-card"></span>Donations</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: file-edit"></span>News</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: history"></span>Changelog</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: file"></span>Pages</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="javascript:void(0)"><span class="uk-margin-small-right" uk-icon="icon: cart"></span> Store</a>
                    <ul class="uk-nav-sub">
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Groups</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Items</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="javascript:void(0)"><span class="uk-margin-small-right" uk-icon="icon: comments"></span> Forums</a>
                    <ul class="uk-nav-sub">
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Categories</a></li>
                        <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Forums</a></li>
                    </ul>
                </li>
                <li><a href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: code"></span>API</a></li>
                <li class="uk-nav-header"><span uk-icon="icon: cog"></span> ProjectCMS</li>
                <li class="uk-nav-divider"></li>
                <li class="uk-parent">
                    <a href="javascript:void(0)"><span class="uk-margin-small-right" uk-icon="icon: git-branch"></span> BlizzCMS</a>
                    <ul class="uk-nav-sub">
                        <li><a target="_blank" href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: warning"></span> Report Issues</a></li>
                        <li><a target="_blank" href="{{ base_url() }}"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span>Support</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    {% block content %}{% endblock %}

    <div class="uk-admin-footer uk-section uk-section-small uk-margin-medium-bottom">
        <div class="uk-container">
            <hr>
            <p class="uk-text-center">&copy; 2018 <span class="uk-text-bold">BlizzCMS</span> a project developed by <a target="_blank" href="http://projectcms.net/" class="uk-link-reset"><span class="uk-text-bold uk-text-primary">ProjectCMS</span></a>. All Right Reserved.</p>
        </div>
    </div>

    {# AmaranJS#}
    <script src="{{ base_url('vendor/blizzcms/amarantjs/js/jquery.amaran.min.js') }}"></script>
    {# List #}
    <script src="{{ base_url('vendor/blizzcms/fxgeneral/js/list.min.js') }}"></script>
    {# Pace #}
    <script src="{{ base_url('vendor/blizzcms/pace/js/pace.min.js') }}"></script>
    {# scripts #}
    <script src="{{ base_url('vendor/blizzcms/fxgeneral/js/admin.panel.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
