<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ base_url('assets/images/favicon.ico') }}">
    {# RPG Awesine #}
    <link rel="stylesheet" href="{{ base_url('node_modules/rpg-awesome/css/rpg-awesome.min.css') }}" />
    {# Uikit #}
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/uikit/css/uikit.min.css') }}" />
    <script src="{{ base_url('vendor/blizzcms/uikit/js/uikit.min.js') }}"></script>
    <script src="{{ base_url('vendor/blizzcms/uikit/js/uikit-icons.min.js') }}"></script>
    {# BlizzCMS #}
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/fxgeneral/css/cms.css') }}" />
    {# Jquery #}
    <script src="{{ base_url('node_modules/jquery/dist/jquery.min.js') }}"></script>
    {# VueJS #}
    <script src="{{ base_url('node_modules/vue/dist/vue.js') }}"></script>
    <script src="{{ base_url('node_modules/vue-resource/dist/vue-resource.min.js') }}"></script>
    <script src="{{ base_url('node_modules/vue-moment/vue-moment.js') }}"></script>
    {# Cookieconsent #}
    <link rel="stylesheet" href="{{ base_url('node_modules/cookieconsent/build/cookieconsent.min.css') }}" />
    {# AmaranJs #}
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/amarantjs/css/amaran.min.css') }}" />
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/amarantjs/css/animate.min.css') }}" />
    {# Awesome #}
    <script defer src="{{ base_url('vendor/blizzcms/font-awesome/js/fontawesome-all.js') }}"></script>
    {# Pace #}
    <link rel="stylesheet" href="{{ base_url('vendor/blizzcms/pace/css/pace-theme-minimal.tmpl.css') }}" />
</head>
<body>

    <nav class="uk-navbar-container uk-background-primary">
        <div class="uk-container">
            <div class="uk-navbar" uk-navbar="mode: click">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="{{ base_url() }}">BlizzCMSv2</a>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav uk-visible@m">
                        <li>
                            <a href="javascript:void(0)">Menu<span uk-icon="icon: chevron-down"></span></a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Store</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <div class="uk-navbar-item uk-visible@m">
                        <ul class="uk-grid-small" uk-grid>
                            <li>
                                <a href="" class="uk-button uk-button-primary"><span uk-icon="icon: sign-in"></span> Sign In</a>
                            </li>
                        </ul>
                    </div>
                    {# User Mobile Menu #}
                    <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#mobile" uk-toggle></a>
                    <div class="uk-offcanvas-content">
                        <div id="mobile" uk-offcanvas="flip: true">
                            <div class="uk-offcanvas-bar">
                                <div class="uk-panel">
                                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                                        <li class="uk-nav-header uk-text-center"><span uk-icon="icon: user"></span> User Account</li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="<?= base_url(); ?>login" class="uk-button uk-button-default uk-button-small uk-text-white"><span uk-icon="icon: sign-in"></span> Sign In</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#" id="fx_mobile_logout"><span uk-icon="icon: sign-out"></span> Sign Out</a></li>
                                        <li class="uk-nav-header uk-text-center"><span uk-icon="icon: menu"></span> Navigation</li>
                                        <li class="uk-nav-divider"></li>
                                        <li class="uk-parent">
                                            <a href="<?= $menulist->url ?>" class="uk-text-white">
                                                <i class="<?= $menulist->icon ?>"></i>&nbsp;Menu Name
                                            </a>
                                            <ul class="uk-nav-sub">
                                                <li>
                                                    <a href="<?= $menusonlist->url ?>">
                                                        <i class="<?= $menusonlist->icon ?>"></i>&nbsp;Menu Name
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="<?= $menulist->url ?>" class="uk-text-white">
                                                <i class="<?= $menulist->icon ?>"></i>&nbsp;Menu Name
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid>
                <div class="uk-width-expand uk-first-column">
                    <p class="uk-align-left"><a target="_blank" href="https://gitlab.com/BlizzCMS" class="uk-button uk-button-link"><i class="fab fa-gitlab fa-2x"></i></a> Proudly powered by <span class="uk-text-bold">BlizzCMS</span></p>
                </div>
                <div class="uk-width-auto">
                    <p class="uk-align-right">Copyright &copy; 2018 <span class="uk-text-bold">BlizzCMSv2</span>. All Right Reserved.</p>
                </div>
            </div>
        </div>
    </div>

    {# Cookieconsent #}
    <script src="{{ base_url('node_modules/cookieconsent/build/cookieconsent.min.js') }}"></script>
    {# AmaranJS#}
    <script src="{{ base_url('vendor/blizzcms/amarantjs/js/jquery.amaran.min.js') }}"></script>
    {# Pace #}
    <script src="{{ base_url('vendor/blizzcms/pace/js/pace.min.js') }}"></script>
    {# scripts #}
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#252e39"
                    },
                    "button": {
                        "background": "#1e87f0"
                    }
                },
                "theme": "edgeless",
                "position": "bottom-right",
                "content": {
                    "message": "This website uses cookies to ensure you get the best experience on our website. ",
                    "dismiss": "Got it!",
                    "link": "Learn more",
                    "href": "{{ base_url('cookie') }}"
                }
            })});
    </script>
</body>
</html>
