{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Arena 2v2 #}
            <ul uk-accordion>
                <li class="uk-open">
                    <a class="uk-accordion-title uk-text-uppercase uk-text-bold uk-text-white"><i class="ra ra-arena"></i> Arena Statistics</a>
                    <span class="uk-label uk-text-bold uk-label-danger">2v2</span>
                    <div class="uk-accordion-content">
                        <ul uk-tab="connect: #2v2statistics; animation: uk-animation-fade">

                                <li><a class="uk-text-bold uk-text-white"><span uk-icon="icon: server"></span> real name</a></li>

                        </ul>
                        <ul id="2v2statistics" class="uk-switcher uk-margin">

                                <li>
                                    <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                                        <table class="uk-table uk-table-divider uk-table-middle">
                                            <thead>
                                                <tr>
                                                    <th class="uk-width-small"><i class="fas fa-sitemap"></i> Team Name</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-users"></i> Members</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-chart-line"></i> Rating</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-chart-line"></i> Games</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                    <tr>
                                                        <td class="{textcolor}">Arena 2 name</td>
                                                        <td class="uk-text-center">

                                                                <img class="uk-border-circle" src="image"  width="30px" height="30px" uk-tooltip="pos: bottom">

                                                        </td>
                                                        <td class="uk-text-center"><?=$tops2v2->rating?></td>
                                                        <td class="uk-text-center"><?=$tops2v2->seasonWins?></td>
                                                    </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                        </ul>
                    </div>
                </li>
            </ul>

            {# Arena 3v3 #}
            <ul uk-accordion>
                <li class="uk-open">
                    <a class="uk-accordion-title uk-text-uppercase uk-text-bold uk-text-white"><i class="ra ra-arena"></i> Arena Statistics</a>
                    <span class="uk-label uk-text-bold uk-label-danger">3v3</span>
                    <div class="uk-accordion-content">
                        <ul uk-tab="connect: #2v2statistics; animation: uk-animation-fade">

                                <li><a class="uk-text-bold uk-text-white"><span uk-icon="icon: server"></span> real name</a></li>

                        </ul>
                        <ul id="2v2statistics" class="uk-switcher uk-margin">

                                <li>
                                    <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                                        <table class="uk-table uk-table-divider uk-table-middle">
                                            <thead>
                                                <tr>
                                                    <th class="uk-width-small"><i class="fas fa-sitemap"></i> Team Name</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-users"></i> Members</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-chart-line"></i> Rating</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-chart-line"></i> Games</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                    <tr>
                                                        <td class="{textcolor}">Arena 2 name</td>
                                                        <td class="uk-text-center">

                                                                <img class="uk-border-circle" src="image"  width="30px" height="30px" uk-tooltip="pos: bottom">

                                                        </td>
                                                        <td class="uk-text-center"><?=$tops2v2->rating?></td>
                                                        <td class="uk-text-center"><?=$tops2v2->seasonWins?></td>
                                                    </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                        </ul>
                    </div>
                </li>
            </ul>

            {# Arena 5v5 #}
            <ul uk-accordion>
                <li class="uk-open">
                    <a class="uk-accordion-title uk-text-uppercase uk-text-bold uk-text-white"><i class="ra ra-arena"></i> Arena Statistics</a>
                    <span class="uk-label uk-text-bold uk-label-danger">5v5</span>
                    <div class="uk-accordion-content">
                        <ul uk-tab="connect: #2v2statistics; animation: uk-animation-fade">

                                <li><a class="uk-text-bold uk-text-white"><span uk-icon="icon: server"></span> real name</a></li>

                        </ul>
                        <ul id="2v2statistics" class="uk-switcher uk-margin">

                                <li>
                                    <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                                        <table class="uk-table uk-table-divider uk-table-middle">
                                            <thead>
                                                <tr>
                                                    <th class="uk-width-small"><i class="fas fa-sitemap"></i> Team Name</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-users"></i> Members</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-chart-line"></i> Rating</th>
                                                    <th class="uk-width-small uk-text-center"><i class="fas fa-chart-line"></i> Games</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                    <tr>
                                                        <td class="{textcolor}">Arena 2 name</td>
                                                        <td class="uk-text-center">

                                                                <img class="uk-border-circle" src="image"  width="30px" height="30px" uk-tooltip="pos: bottom">

                                                        </td>
                                                        <td class="uk-text-center"><?=$tops2v2->rating?></td>
                                                        <td class="uk-text-center"><?=$tops2v2->seasonWins?></td>
                                                    </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
