{% extends layout %}

{% block content %}

    <div class="uk-section-slider">
        <div class="uk-section uk-background-cover uk-background-norepeat uk-background-center  uk-background-secondary uk-overflow-hidden uk-light uk-flex uk-flex-middle parallax-forum-header" uk-parallax="bgx: 0,-15" uk-height viewport="offset-top: true">
            <div class="uk-width-1-1">
                <div class="uk-container uk-container-large">
                    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                        <div class="uk-width-1-1@m">
                            <div class="uk-grid-item-match">
                                <div>
                                    <h3 class="uk-margin-small uk-text-uppercase"><span uk-icon="icon: comments; ratio: 1.7"></span> Welcome to Forums!</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Forum Categories #}
            <div class="ForumCategory">
                <h4 class="uk-h4 uk-text-uppercase"><i class="far fa-bookmark"></i> Category Name</h4>
                <div class="ForumCards" uk-scrollspy="cls: uk-animation-fade; repeat: true">
                    <a href="" class="ForumCard ForumCard--content">
                        <i class="ForumCard-icon" style="background-image: url('<?= base_url();?>assets/images/forums/<?= $sections->icon ?>')"></i>
                        <div class="ForumCard-details">
                            <p class="ForumCard-heading">Forum Name</p>
                            <span class="ForumCard-description">description</span>
                        </div>
                    </a>
                    <a href="" class="ForumCard ForumCard--content">
                        <i class="ForumCard-icon" style="background-image: url('<?= base_url();?>assets/images/forums/<?= $sections->icon ?>')"></i>
                        <div class="ForumCard-details">
                            <p class="ForumCard-heading">Forum Name</p>
                            <span class="ForumCard-description">description</span>
                        </div>
                    </a>
                    <a href="" class="ForumCard ForumCard--content">
                        <i class="ForumCard-icon" style="background-image: url('<?= base_url();?>assets/images/forums/<?= $sections->icon ?>')"></i>
                        <div class="ForumCard-details">
                            <p class="ForumCard-heading">Forum Name</p>
                            <span class="ForumCard-description">description</span>
                        </div>
                    </a>
                    <a href="" class="ForumCard ForumCard--content">
                        <i class="ForumCard-icon" style="background-image: url('<?= base_url();?>assets/images/forums/<?= $sections->icon ?>')"></i>
                        <div class="ForumCard-details">
                            <p class="ForumCard-heading">Forum Name</p>
                            <span class="ForumCard-description">description</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="uk-space-large"></div>
        </div>
    </div>
{% endblock %}
