{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Edit News #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><a href="{{ base_url() }}"><span data-uk-icon="icon: arrow-left; ratio: 1.5"></span></a>Edit News</h4></div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Title</label>
                                <div class="uk-form-controls">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                        <input class="uk-input" name="new_title" type="text" value="" placeholder="Title of the news" required>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Description</label>
                                <div class="uk-form-controls">
                                    <div class="uk-width-1-1">
                                        <textarea class="tinyeditor" name="new_description" rows="10" cols="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Highlight</label>
                                <div class="uk-form-controls">
                                    <select class="uk-select" name="new_destac">
                                        <option value="1">No</option>
                                        <option value="2">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Upload Image</label>
                                <div class="uk-form-controls">
                                    <div class="uk-inline uk-width-1-1">
                                        <div uk-form-custom="target: true">
                                            <input type="file" required name="new_imageup">
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="uk-button uk-button-primary uk-width-1-1" name="button_updateNews" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
