{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Edit Page #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><a href="{{ base_url() }}"><span data-uk-icon="icon: arrow-left; ratio: 1.5"></span></a>Edit Page</h4></div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Title</label>
                                <div class="uk-form-controls">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                        <input class="uk-input" name="page_title" type="text" value="" placeholder="Title of the Page" required>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Description</label>
                                <div class="uk-form-controls">
                                    <div class="uk-width-1-1">
                                        <textarea class="tinyeditor" name="page_description" rows="10" cols="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="uk-button uk-button-primary uk-width-1-1" name="button_updatePage" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
