{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Edit Page #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><a href="{{ base_url() }}"><span data-uk-icon="icon: arrow-left; ratio: 1.5"></span></a>Edit Item</h4></div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Product Name</label>
                                <div class="uk-form-controls">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                        <input class="uk-input" type="text" name="item_name" value="" placeholder="Product Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Category</label>
                                <div class="uk-form-controls">
                                    <select class="uk-select" name="item_cagetory">
                                        <option value="1">Test</option>
                                    </select>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Type</label>
                                <div class="uk-form-controls">
                                    <label><input class="uk-radio" type="radio" name="item_type" id="item1" value="1" checked> Item</label>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-grid-small" uk-grid>
                                    <div class="uk-inline uk-width-1-2@s">
                                        <label class="uk-form-label uk-text-uppercase">Price DP</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="number"name="item_pricedp" value="0" placeholder="0" required>
                                        </div>
                                    </div>
                                    <div class="uk-inline uk-width-1-2@s">
                                        <label class="uk-form-label uk-text-uppercase">Price VP</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="number" name="item_pricevp" value="0" placeholder="0" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-grid-small" uk-grid>
                                    <div class="uk-inline uk-width-1-2@s">
                                        <label class="uk-form-label uk-text-uppercase">Item Id</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="item_id" value="0" placeholder="Item Id" required>
                                        </div>
                                    </div>
                                    <div class="uk-inline uk-width-1-2@s">
                                        <label class="uk-form-label uk-text-uppercase">Icon Name</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="item_icon" value="inv_belt_45" placeholder="inv_belt_45">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Image Name</label>
                                <div class="uk-form-controls">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: image"></span>
                                        <input class="uk-input" type="text" name="item_image" value="image.jpg" placeholder="image.jpg">
                                    </div>
                                </div>
                            </div>
                            <button class="uk-button uk-button-primary uk-width-1-1" name="button_updatePage" type="submit"><i class="fas fa-save"></i> Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
