{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Admin Panel #}
            <div class="uk-grid uk-grid-small uk-grid-divider uk-child-width-1-2@s uk-flex-center" data-uk-grid>
                <div>
                    <div class="uk-text-center">
                        <span class="uk-text-bold uk-text-uppercase uk-text-success"><span uk-icon="icon: users; ratio: 1.3" class="uk-margin-small-right"></span>Accounts created</span>
                        <h1 class="uk-heading-primary uk-margin-remove uk-text-success"><span class="counter" data-count="100">0</span></h1>
                        <div class="uk-text-small">
                            <span uk-icon="icon: info"></span> Total accounts registered
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-text-center">
                        <span class="uk-text-bold uk-text-uppercase uk-text-danger"><span uk-icon="icon: ban; ratio: 1.3" class="uk-margin-small-right"></span>Banned accounts</span>
                        <h1 class="uk-heading-primary uk-margin-remove uk-text-danger"><span class="counter" data-count="100">0</span></h1>
                        <div class="uk-text-small">
                            <span uk-icon="icon: info"></span> Total accounts banned
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="uk-grid uk-grid-small uk-child-width-1-2@s uk-flex-center" data-uk-grid>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-small">
                        <div class="uk-card-header">
                            <h4 class="uk-card-title uk-text-center"><span uk-icon="icon: server; ratio: 1.2"></span> Realm - Name</h4>
                        </div>
                        <div class="uk-card-body">
                            <div class="uk-column-1-2 uk-column-divider uk-text-center">
                                <p>
                                    <span class="uk-text-small"><span class="uk-margin-small-right uk-text-primary" uk-icon="icon: user"></span>Players Online</span>
                                    <h1 class="uk-heading-primary uk-margin-small"><span class="counter" data-count="5000">0</span></h1>
                                    <span class="uk-text-small"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Total players playing on realm</span>
                                </p>
                                <p>
                                    <span class="uk-text-small"><span uk-icon="icon: star" class="uk-margin-small-right uk-text-primary"></span>STAFF Accounts</span>
                                    <h1 class="uk-heading-primary uk-margin-small"><span class="counter" data-count="5000">0</span></h1>
                                    <span class="uk-text-small"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Total accounts with GM access</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-small">
                        <div class="uk-card-header">
                            <h4 class="uk-card-title uk-text-center"><span uk-icon="icon: server; ratio: 1.2"></span> Realm - Name</h4>
                        </div>
                        <div class="uk-card-body">
                            <div class="uk-column-1-2 uk-column-divider uk-text-center">
                                <p>
                                    <span class="uk-text-small"><span class="uk-margin-small-right uk-text-primary" uk-icon="icon: user"></span>Players Online</span>
                                    <h1 class="uk-heading-primary uk-margin-small"><span class="counter" data-count="5000">0</span></h1>
                                    <span class="uk-text-small"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Total players playing on realm</span>
                                </p>
                                <p>
                                    <span class="uk-text-small"><span uk-icon="icon: star" class="uk-margin-small-right uk-text-primary"></span>STAFF Accounts</span>
                                    <h1 class="uk-heading-primary uk-margin-small"><span class="counter" data-count="5000">0</span></h1>
                                    <span class="uk-text-small"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Total accounts with GM access</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
