{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Look Account #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: user"></span> Account - Name</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-grid uk-grid-small uk-child-width-1-3@s uk-margin" data-uk-grid>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Unban Account</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post">
                                            <button class="uk-button uk-button-primary uk-width-1-1" name="button_unban" type="submit"><i class="fas fa-check-circle"></i> Unban</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: cog"></span> Ban Account</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post" accept-charset="utf-8">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <input class="uk-input" name="action_reason" type="text" placeholder="Reason" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-danger uk-width-1-1" name="action_ban" type="submit"><i class="fas fa-ban"></i> Ban</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: bolt"></span> Ingame Rank</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-danger uk-width-1-1" name="button_RemoveRankACCWeb" type="submit"><i class="fas fa-user-times"></i> Remove GM</button>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <input class="uk-input" name="gmlevel" type="number" min="1" placeholder="GM Level" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-primary uk-width-1-1" name="button_AddRankACCWeb" type="submit"><i class="fas fa-user-plus"></i> Grant GM</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: star"></span> Website Rank</div>
                                    <div class="uk-card-body">
                                        <form action="" method="post">
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-danger uk-width-1-1" name="button_removeADM" type="submit"><i class="fas fa-user-times"></i> Remove ADM</button>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-form-controls">
                                                    <button class="uk-button uk-button-primary uk-width-1-1" name="button_addADM" type="submit"><i class="fas fa-user-plus"></i> Grant ADM</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: user"></span> General information</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                            <table class="uk-table uk-table-justify uk-table-divider">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Security Question</th>
                                        <th>Secret Answer</th>
                                        <th>Birth Date</th>
                                        <th>Member since</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Pepe</td>
                                        <td>test@gmail.com</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>00-00-00</td>
                                        <td>18-04-12</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: history"></span> Donate History</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                            <table class="uk-table uk-table-justify uk-table-divider">
                                <thead>
                                    <tr>
                                        <th>Payment ID</th>
                                        <th>Hash</th>
                                        <th>Total</th>
                                        <th>Complete</th>
                                        <th>Create Time</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>id</td>
                                        <td>hash</td>
                                        <td>total</td>
                                        <td>status</td>
                                        <td>time</td>
                                        <td>points</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: users"></span> Characters List</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul uk-accordion>
                            <li>
                                <a class="uk-accordion-title" href="#"><span data-uk-icon="icon: server"></span> Realm - Server Name</a>
                                <div class="uk-accordion-content">
                                    <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                                        <table class="uk-table uk-table-justify uk-table-divider">
                                            <thead>
                                                <tr>
                                                    <th>Guid</th>
                                                    <th>Name</th>
                                                    <th>Race</th>
                                                    <th>Class</th>
                                                    <th>Level</th>
                                                    <th>Money</th>
                                                    <th>Total Kills</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid ?>/<?= $charsMultiRealm->id ?>">id</a>
                                                    </td>
                                                    <td>
                                                        <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid; ?>/<?= $charsMultiRealm->id ?>">name</a>
                                                    </td>
                                                    <td>
                                                        <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid; ?>/<?= $charsMultiRealm->id ?>">race</a>
                                                    </td>
                                                    <td>
                                                        <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid; ?>/<?= $charsMultiRealm->id ?>">class</a>
                                                    </td>
                                                    <td>
                                                        <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid; ?>/<?= $charsMultiRealm->id ?>">level</a>
                                                    </td>
                                                    <td>
                                                        <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid; ?>/<?= $charsMultiRealm->id ?>">money</a>
                                                    </td>
                                                    <td>
                                                        <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid; ?>/<?= $charsMultiRealm->id ?>">kills</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-child-width-1-3@s uk-flex-center uk-margin" data-uk-grid>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: list"></span> Annotations</div>
                        <div class="uk-card-body">
                            <ul class="uk-list uk-list-bullet">
                                <li>annotations</li>
                                <li>annotations</li>
                                <li>annotations</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: list"></span> Last Topics</div>
                        <div class="uk-card-body">
                            <ul class="uk-list uk-list-bullet">
                                <li>topic</li>
                                <li>topic</li>
                                <li>topic</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header uk-card-secondary uk-text-center uk-text-uppercase"><span uk-icon="icon: list"></span> Last Comments</div>
                        <div class="uk-card-body">
                            <ul class="uk-list uk-list-bullet">
                                <li>comments</li>
                                <li>comments</li>
                                <li>comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
