{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Manage Realms #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: settings"></span> Manage Realms</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="" class="uk-icon-link uk-margin-small-right" uk-icon="icon: cog" uk-toggle="target: #Realm"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                            <table class="uk-table uk-table-justify uk-table-divider">
                                <thead>
                                    <tr>
                                        <th>Realm ID</th>
                                        <th>Realm Name</th>
                                        <th>Character Database Name</th>
                                        <th>Soap Port</th>
                                        <th class="uk-text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="uk-input" value="Data" disabled>
                                        </td>
                                        <td>
                                            <input type="text" class="uk-input" value="Data" disabled>
                                        </td>
                                        <td>
                                            <input type="text" class="uk-input" value="Data" disabled>
                                        </td>
                                        <td>
                                            <input type="text" class="uk-input" value="Data" disabled>
                                        </td>
                                        <td class="uk-text-center uk-margin">
                                            <form action="" method="post" accept-charset="utf-8">
                                                <button class="uk-button uk-button-danger" name="button_deleteRealm" value="<?= $realmsID->id ?>" type="submit"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal #}
    <div id="Realm" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-server"></i> Add Realm</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Realm ID</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="number" name="realmid" placeholder="Auth -> realmlist -> ID" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase">Soap Hostname</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="soap_hostname" placeholder="Example: 127.0.0.1" required>
                                </div>
                            </div>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase">Soap User</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="soap_user" placeholder="Example: fixcore" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase">Soap Password</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="password" name="soap_pass" placeholder="Example: blizzcms" required>
                                </div>
                            </div>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase">Soap Port</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="number" name="soap_port" placeholder="Example: 7878" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase"><strong>Character</strong> Database Hostname</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="hostname" placeholder="Example: 127.0.0.1" required>
                                </div>
                            </div>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase"><strong>Character</strong> Database User</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="host_user" placeholder="Example: root" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase"><strong>Character</strong> Database Password</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="password" name="host_pass" placeholder="Example: ascent" required>
                                </div>
                            </div>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase"><strong>Character</strong> Database Name</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" name="host_db" placeholder="Example: characters" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_createRealm">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
