{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Manage Characters #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: list"></span> Manage Characters</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: info"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul uk-accordion>
                            <li>
                                <a class="uk-accordion-title" href="#"><span data-uk-icon="icon: server"></span> Realm - Server Name</a>
                                <div class="uk-accordion-content">
                                    <div id="characters">
                                        <button class="uk-button uk-button-primary uk-button-small sort"data-sort="name">Sort by name</button>
                                        <form class="uk-search uk-search-default uk-align-right">
                                            <span uk-search-icon></span>
                                            <input class="search uk-search-input uk-form-small" type="search" placeholder="Search...">
                                        </form>
                                        <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                                            <table class="uk-table uk-table-justify uk-table-divider">
                                                <thead>
                                                    <tr>
                                                        <th>Account Name</th>
                                                        <th class="uk-text-center">Character Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list">
                                                    <tr>
                                                        <td class="account">
                                                            <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid ?>/<?= $charsMultiRealm->id ?>">Account</a>
                                                        </td>
                                                        <td class="character uk-text-center">
                                                            <a href="<?= base_url(); ?>admin/managecharacter/<?= $chars->guid ?>/<?= $charsMultiRealm->id ?>">Character</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <ul class="pagination uk-pagination uk-flex-center" uk-margin></ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var options = {
            valueNames: [ 'account', 'character' ],
            page: 3,
            pagination: true
        };
        var characterList = new List('characters', options);
    </script>
{% endblock %}
