{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Manage Items #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: list"></span> Manage Items</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="" class="uk-icon-link uk-margin-small-right" uk-icon="icon: pencil" uk-toggle="target: #Item"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                            <table class="uk-table uk-table-justify uk-table-divider">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th class="uk-text-center">Item Name</th>
                                        <th class="uk-text-center">Price DP</th>
                                        <th class="uk-text-center">Price VP</th>
                                        <th class="uk-text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>id</td>
                                        <td class="uk-text-center">name</td>
                                        <td class="uk-text-center">10</td>
                                        <td class="uk-text-center">10</td>
                                        <td class="uk-text-center uk-margin">
                                            <a href="#" class="uk-button uk-button-primary"><i class="far fa-edit"></i></a>
                                            <span class="uk-margin-small-left"></span>
                                            <form action="" method="post" accept-charset="utf-8" class="uk-inline">
                                                <button class="uk-button uk-button-danger" name="button_deleteItem" value="<?= $shopall->id ?>" type="submit"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal #}
    <div id="Item" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-box"></i> Create Item</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Item Name</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                <input class="uk-input" name="itemname" required type="text" placeholder="Product Name">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Category</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" name="categorySelect">
                                <option value="<?= $groupsStore->id ?>">Category Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Type</label>
                        <div class="uk-form-controls">
                            <label class="uk-form-label uk-text-uppercase">
                                <input class="uk-radio" type="radio" name="type_shop" id="item1" value="1" checked> Item
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase">Price DP</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" name="priceDP" type="text" placeholder="0" value="0" required>
                                </div>
                            </div>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase">Price VP</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" name="priceVP" type="text" placeholder="0" value="0" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase">Item Id</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" name="itemID" type="text" placeholder="Item Id" required>
                                </div>
                            </div>
                            <div class="uk-inline uk-width-1-2@s">
                                <label class="uk-form-label uk-text-uppercase">Icon Image</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" name="iconName" type="text" placeholder="inv_belt_45" value="inv_belt_45" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Image Name</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <input class="uk-input" name="imageName" type="text" placeholder="image.jpg" value="image.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_createItem">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
