{% extends layout %}

{% block content %}

    <div class="uk-admin-content uk-section-xsmall">
        <div class="uk-container">
            {# Manage Changelog #}
            <div class="uk-width-1-1 uk-margin">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-header uk-card-secondary">
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-auto"><h4 class="uk-margin-remove-bottom"><span uk-icon="icon: list"></span> Manage Changelog</h4></div>
                            <div class="uk-width-expand uk-text-right">
                                <a href="" class="uk-icon-link uk-margin-small-right" uk-icon="icon: pencil" uk-toggle="target: #Changelog"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-overflow-auto uk-width-1-1 uk-margin">
                            <table class="uk-table uk-table-justify uk-table-divider">
                                <thead>
                                    <tr>
                                        <th>Changelog Title</th>
                                        <th class="uk-text-center">Date</th>
                                        <th class="uk-text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Title</td>
                                        <td class="uk-text-center">18-04-11</td>
                                        <td class="uk-text-center uk-margin">
                                            <a href="<?= base_url(); ?>admin/editchangelogs/<?= $changelogs->id ?>" class="uk-button uk-button-primary"><i class="far fa-edit"></i></a>
                                            <span class="uk-margin-small-left"></span>
                                            <form action="" method="post" accept-charset="utf-8" class="uk-inline">
                                                <button class="uk-button uk-button-danger" name="button_delChangelog" value="<?= $changelogs->id ?>" type="submit"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal #}
    <div id="Changelog" class="uk-modal-container" uk-modal="bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-uppercase"><i class="fas fa-history"></i> Create Changelog</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data" accept-charset="utf-8" autocomplete="off">
                <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Title</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: pencil"></span>
                                <input class="uk-input" name="chang_title" required type="text" placeholder="Title of the Changelog">
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Description</label>
                        <div class="uk-form-controls">
                            <div class="uk-width-1-1">
                                <textarea class="tinyeditor" name="chang_description" rows="10" cols="80"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Upload Image</label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <div uk-form-custom="target: true">
                                    <input type="file" required name="chang_imageup">
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right actions">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" name="button_createChangelog">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
