{% extends layout %}

{% block content %}

    <div class="uk-section-xsmall">
        <div class="uk-container">
            {# Pages #}
            <div class="uk-grid uk-grid-large" data-uk-grid>
                <div class="uk-width-1-6@l"></div>
                <div class="uk-width-2-3@l">
                    <article class="uk-article uk-text-white">
                        <h1 class="uk-article-title uk-text-uppercase uk-text-white"><a class="uk-link-reset" href=""><i class="far fa-file-alt"></i> Page Name</a></h1>
                        <p class="uk-article-meta uk-text-white">Published by STAFF | <i class="far fa-clock"></i> 18-04-08</p>
                        <p class="uk-text-break">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <hr>
                    </article>
                </div>
                <div class="uk-width-1-6@l"></div>
            </div>
        </div>
    </div>
{% endblock %}
